<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>HospitalManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>viewPatientController</display-name>
    <servlet-name>viewPatientController</servlet-name>
    <servlet-class>com.hospital.controller.viewPatientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPatientController</servlet-name>
    <url-pattern>/viewPatientController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctorsController</display-name>
    <servlet-name>AddDoctorsController</servlet-name>
    <servlet-class>com.hospital.controller.AddDoctorsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctorsController</servlet-name>
    <url-pattern>/AddDoctorsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewDoctorController</display-name>
    <servlet-name>viewDoctorController</servlet-name>
    <servlet-class>com.hospital.controller.viewDoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewDoctorController</servlet-name>
    <url-pattern>/viewDoctorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePatientController</display-name>
    <servlet-name>DeletePatientController</servlet-name>
    <servlet-class>com.hospital.controller.DeletePatientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePatientController</servlet-name>
    <url-pattern>/DeletePatientController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDoctorController</display-name>
    <servlet-name>DeleteDoctorController</servlet-name>
    <servlet-class>com.hospital.controller.DeleteDoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDoctorController</servlet-name>
    <url-pattern>/DeleteDoctorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentController</display-name>
    <servlet-name>AppointmentController</servlet-name>
    <servlet-class>com.hospital.controller.AppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentController</servlet-name>
    <url-pattern>/AppointmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewAppointmentController</display-name>
    <servlet-name>viewAppointmentController</servlet-name>
    <servlet-class>com.hospital.controller.viewAppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAppointmentController</servlet-name>
    <url-pattern>/viewAppointmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAppointmentController</display-name>
    <servlet-name>DeleteAppointmentController</servlet-name>
    <servlet-class>com.hospital.controller.DeleteAppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointmentController</servlet-name>
    <url-pattern>/DeleteAppointmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePatientController</display-name>
    <servlet-name>UpdatePatientController</servlet-name>
    <servlet-class>com.hospital.controller.UpdatePatientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatientController</servlet-name>
    <url-pattern>/UpdatePatientController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDoctorController</display-name>
    <servlet-name>UpdateDoctorController</servlet-name>
    <servlet-class>com.hospital.controller.UpdateDoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDoctorController</servlet-name>
    <url-pattern>/UpdateDoctorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAppointmentController</display-name>
    <servlet-name>UpdateAppointmentController</servlet-name>
    <servlet-class>com.hospital.controller.UpdateAppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppointmentController</servlet-name>
    <url-pattern>/UpdateAppointmentController</url-pattern>
  </servlet-mapping>
</web-app>